{% extends 'blog/base.html' %}

{% block content %}
    <div class="padding-head">
    <h1>New User</h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md 8">
                <form method="POST" action="" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <h4><input type="submit" value="Add User" /></h4>
                    <input name="next" type="hidden" value="{{next}}">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}