{% extends 'blog/base.html' %}

{% block content %}
    <h1>Login/h1>
    <div id="login">
    <form method="POST" action="" class="post-form" name="LoginForm">
        {% csrf_token %}
        {% if next %}
            <input name="next" type="hidden" value="{{next}}">
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="button">Login</button>
            </div>
        </div>
    </form>
    </div>
{% endblock content %}