{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date">
        <div class="save">
            <p>Date Published: {{ post.published_date }}</p>
        </div>
    {% else %}
        <p>
            <strong>Publish:</strong>
            <a class="btn btn-default btn-xs" href="{% url 'post_publish' pk=post.pk%}"><span class="glyphicon glyphicon-share"></span></a>
        </p>
    </div>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
    <br />
    <h4><a href="{% url 'post_list' %}"> Back </a></h4>
    {% if user.is_authenticated %}
        <h4>Edit: <a class="btn btn-default btn-xs" href="{% url 'post_edit' pk=post.pk%}"><span class="glyphicon glyphicon-pencil"></span></a></h4>
    {% endif %}
</div>
{% endblock content %}