<html>
<head>
    <title> Hello Adelle! ^_^ </title>
</head>
<body>
    <div>
        <h1><a href="">Jeszy's Blog</a></h1>
    </div>
    <br />
    <div>
        <p><strong>published date: 2016</strong></p>
        <h2><a href="">First Post</a></h2>
        <p> Hello, its me!</p>
        <p> I was wondering if after all
        <p> these years you'd like to meet</p>
    </div>
    <br />
    <div>
        <p><strong>published date: 2016</strong></p>
        <h2><a href="">Second Post</a></h2>
        <p> Hello, its me!</p>
        <p> I was wondering if after all
        <p> these years you'd like to meet</p>
    </div>
    <br />
     <div>
        <p><strong>published date: 2016</strong></p>
        <h2><a href="">Third Post</a></h2>
        <p> Hello, its me!</p>
        <p> I was wondering if after all
        <p> these years you'd like to meet</p>
    </div>
</body>
</html>